<h1><%=@word.define_word %></h1>
<% @word.word_meaning.each do |meaning| %>
  <h4>def: <%=meaning%></a></h4>
<% end %>

<form action="/delete/<%= @word.id %>" method="post">
  <button type="submit" class="btn">delete</button>
</form><br>
<h4><a href='/update/<%= @word.id %>'>add definition</a></h4>
<h4><a href='/'>Return home</a></h4>
