
<h4>Update Definiton:</h4>
<form action="/update/<%= @define.id %>" method="post">
  <div class="form-group">
    <label for="name">First name: </label>
    <input id="name" name="name" class="form-control" type="text">
  </div>
