<br>
<h1><%=@word.define_word %></h1><br>
<% @word.word_meaning.each do |meaning| %>
  <h4>Definition: <%=meaning%></a></h4><br>
<% end %>

<h4>Update Definiton:</h4>
<form action="/update/<%= @word.id %>" method="post">
  <div class="form-group">
    <label for="word_meaning"> </label>
    <input id="word_meaning" name="word_meaning" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Update</button>
</form><br>
<h4><a href='/'>Return home</a></h4>
